/* Le fichier css de base qui détermine l'apparence du contenu de la page à l'exeption des éléments essentiels à la structure "squelette" qui donne sa forme à la page. Cela inclue notamment les règles autour de header et footer par exemple. */

/*Pour h1 */
h1 {
    font-size: 50px;
    margin: 0 0 30px 0;
}


/* Pour ancrage retour en haut */
.retour_haut {
    margin: 0 0 10px 0;
    font-size: 10px;
    text-align: right;
}


/* Pour les tailles de police dans les listes */
section ul {
    font-size: smaller;
}


/* Pour des éléments singuliers voulus avec un alignement de texte spécifique sans avoir à affecter tous les autres */
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

/* Pour les zones de texte */
textarea {
    width: 75%;
}


/* La flexbox pour une liste avec figure */
.list_flex-et-fig {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.list_flex-et-fig > * {
    flex: 1 100%;
}
.list_flex-et-fig figure {
    margin: 0;
}
/* Fin flexbox */

table {
    border-style: dotted;
    border-width: 2px;
    border-color: #46B1C9;
    text-align: center;
}

/* Flexbox pour contenir tous les pistes audios. */
.audio-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
.audio-container > * {
    flex: 1 30%;
}
.audio-container audio {
    max-width: 250px;
}
/* Fin flexbox */