/* Pour header */
header {
    color: black;
    background-color: #97ccd8;
    font-weight: bold;
    height: 100px;
    font-size: 75px;
    margin: 0px;
}

header p{
    margin: 0;
}

/* Pour nav / menu */
nav {
    margin: 5px;
    background-color: #BCC1BA;
    width: 220px ;
}

/* Pour body */
body {
    background-color: #F2E2D2;
    margin: 0;
}