/* Pour header */
header {
    color: black;
    background-color: #97ccd8;
    font-weight: bold;
    height: 100px;
    font-size: 75px;
    margin: 0px;
}
header p {
    margin: 0;
    padding-left: 20px;
}
header figure, header figure > img{
    width: 150px;
    height: 100px;
}

/* Pour nav / menu */
nav {
    margin: 5px;
    background-color: #BCC1BA;
}

/* Pour footer */
footer {
    display:flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: baseline;        
    background-color: #97ccd8;
    height: 30px;
    padding: 5px 0;
}
footer > * {
    flex: 1 100%;
    margin: 0;
    padding: 5px;
}

/*Pour h1 */
h1 {
    font-size: 50px;
    margin: 0 0 30px 0;
}

/* Pour body */
body {
    background-color: #F2E2D2;
    margin: 0;
    font-family: 'Comic Sans MS';
}

/* Pour ancrage retour en haut */
.retour_haut {
    margin: 0 0 10px 0;
    font-size: 10px;
    text-align: right;
}

.text-right {
    text-align: right;
}

/* La flexbox pour le header */
.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.container > figure {
    flex: 1 150px;
    margin: 0;
}
.container > p {
    flex: 1 100%
}
/* Fin flexbox */

/* La flexbox pour le contenu en dessous du header + liste avec figure */
.container-fluid , .list_flex-et-fig{
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.container-fluid > section {
    padding: 10px;
    flex: 1 70%;
}
.container-fluid > nav {
    padding: 0px 10px 10px 10px;
    flex: 1 30%;
}
nav p {
    margin: 5px;
}

.list_flex-et-fig > * {
    flex: 1 100%;
}
/* Fin flexbox */

/* Flexbox dans nav --> liste des pages */
.ls_pages {
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 20px;
    margin: 5px 0px;
}

.ls_pages > * {
    margin: 0;
    padding: 5px;
    flex: 1 100%;
}
/* Fin flexbox */

.audio-container {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
.audio-container > * {
    flex: 1 30%;
}