h2, h3 {
    margin-bottom: 0;
}

.présentation-mob {
    margin: 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;    
}

.présentation-mob img {
    width: 100%;
}
.présentation-mob > p, .présentation-mob > .paragraphe {
    margin: 5px;
    padding: 0 5px;
    flex: 1 calc(50% - 20px);
}
.présentation-mob > .audio-container {
    flex: 1 100%;
}

@media (max-width: 700px) {
    .présentation-mob {
        flex-flow: column wrap;
    }
}