/* Le fichier css spécifique aux pages botw */

h2, h3 {
    margin-bottom: 0;
}

/* Flexbox pour section de présentation du boss avec un paragraphe, une image et un groupement d'audio */
.presentation-mob {
    margin: 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;    
}

.presentation-mob img {
    max-width: none;
    width: 100%;
}
.presentation-mob > p, .presentation-mob > .paragraphe {
    margin: 5px;
    padding: 0 5px;
    flex: 1 calc(50% - 20px);
}
.presentation-mob > .audio-container {
    flex: 1 100%;
}
/* Fin flexbox */