h2, h3 {
    margin-bottom: 0;
}

table {
    border-style: dotted;
    border-width: 2px;
    border-color: #46B1C9;
    text-align: center;
}

.présentation-mob {
    margin: 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;    
}

.présentation-mob img {
    width: 100%;
}
.présentation-mob > p, .présentation-mob > .paragraphe {
    margin: 5px;
    padding: 0 5px;
    flex: 1 calc(50% - 20px);
}
.présentation-mob > .audio-container {
    flex: 1 100%;
}