/* Le fichier css spécifique aux pages des films */

/* La flexbox pour une liste avec figure */
.info-film {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.info-film * {
    margin: 0;
    padding: 0;
}

.info-film > figure.affiche {
    flex: 1 calc(20% - 10px) ;
    margin: 5px;
    min-height: 100px;
    max-height: 300px;
    max-width: 150px;
}
.affiche > img { /*Affiche du film*/
    height: inherit;
    width: 100%;
    max-height: inherit;
}

.info-film > ul { /*Nom, Sortie, Durée...*/
    flex: 1 20% ;
    padding: 5px;
}
.info-film > .description { /*Description du film*/
    flex: 1 50%;
    text-align: center;
    background-color: #BCC1BA;
    font-family:'Courier New';
    padding: 5px;
}
.info-film > figure.bande_annonce {
    flex: 1 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.bande_annonce iframe { /*Video (bande annonce)*/
    width: 100%;
    height: 100%;
    
    min-height: 200px;
    min-width: 300px;

    max-height: 400px;
    max-width: 400px;
}
/* Fin flexbox */


footer { /*footer dimension*/
    height: 40px;
}