/* Le fichier css qui détermine des valeurs absolues de base pour les images et video */

section img { /* Pour les images dans des sections */
    max-width: 150px;
    width: 100%;
}


table img { /* Pour les images dans des tableaux */
    width: 75px;
}


iframe { /* Pour les videos */
    width: 300px;
    height: 200px;
}