/*
    Determiner les max width et height de :
        - Image header
        - Image footer
        - 

    Determiner les max width de :
        - Nav
        - Section .container-fluid
        - Section .container-fluid > Section
        - 
    
    Determiner les max size de :
        - Police de paragraphe
    
    
*/

.container-fluid {
    width: 100%;
}

header figure, header img {
    max-width: 200px;
}

nav {
    max-width: 200px;
}
.container-fluid > section {
    background-color: #F2E2D2;
    max-width: 800px;
}

