@media /*only screen and*/ (max-width: 700px) /*and (max-width: 800px)*/ {
    .container-fluid {
        flex-flow: column nowrap;
    }
     body {
        font-size: smaller;
     }
    
    nav {
        max-width: 100%;
        background-color: red;
    }
    .container-fluid > section {
        max-width: 100%;
    }
    
     table {
        font-size: larger;
     }    
}
