.container-fluid {
    flex-flow: column nowrap;
}
body {
    font-size: smaller;
}
header {
    font-size: 60px;
}
nav {
    max-width: 100%;
    font-size: smaller;
}
.container-fluid > section {
    max-width: 100%;
}

table {
    font-size: larger;
}
.audio-container {
    flex-flow: row wrap;
}
