.video {
   position: absolute;
   margin-left: 290px;
   top: 165px;
}

.video iframe{
    width: 200px;
    height: 100px;
    margin: 2%;
}

.TextVideo1 {
    position: absolute;
    top: 30;
    margin-left: 500px;
}
