.scroll{
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

section iframe{
    width: 200px;
    height: 100px;
    margin: 0;
    padding: 5px;
}

section img{
    margin: 0;
    padding: 5px;
    width: 90px;
    height: 140px;
}

section > ul{
    margin: 0;
    padding: 5px;

}

section p{
    margin: 0;
    margin-right: 500px;
    text-align: center;
    width: 150px;
    height: 100px;
    background-color: #BCC1BA;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family:'Courier New';
    padding: 5px;
}

.sources{
    text-align: center;
    padding: 0px;
    margin-bottom: 70px;
    top: 100px;
    margin-left: 100px;
}

footer {
    display:flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: baseline;        
    background-color: #97ccd8;
    height: 50px;
    padding: 10px;
}