.video {
   position: absolute;
   margin-left: 300px;
}

.video1 iframe{
    top: 30;
    width: 300px;
    height: 200px;
}
.video2 iframe {
    top: 80;
    width: 300px;
    height: 200px;
}

.TextVideo1 {
    position: absolute;
    top: 30;
    margin-left: 600px;
}